<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<% if @post.user_id == current_user.id %>
    <%= link_to "edit", edit_post_path(@post) %><br><br>

    <%= link_to "delete", post_path(@post), method: :delete %>
<% end %>